<!DOCTYPE html>
<html>
  <head>
    <title>Raft Analyzer</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <%- body %>
    <script src="/js/app.js"></script>
  </body>
</html>
