<h1>Raft Analyzer</h1>
<!-- INPUT ROW -->
<div class="row">
  <div class="col-6">
    <form>
      <div class="mb-3">
        <label for="raft-log-folder" class="form-label">Insert the path of a folder containing Raft logs</label>
        <input type="string" class="form-control" id="raft-log-folder" placeholder="">
      </div>
      <div class="mb-3">
        <label for="db-collection" class="form-label">Insert a db collection name for the collected logs</label>
        <input type="string" class="form-control" id="db-collection" placeholder="">
      </div>
      <button id="loadAndAnalyzeLogs" type="button" class="btn btn-primary">Load and analyze logs</button>
    </form>
  </div>
</div>

<div class="row">

</div>