<h1>Raft Analyzer</h1>
<!-- INPUT ROW -->
<div class="row">
  <div class="col-12">
    <h2>Load and analyze new logs</h2>
    <form class="form-inline">
      <input type="string" class="form-control" id="raft-log-folder" placeholder="Insert the path of a folder containing Raft logs" style="width:40%;">
      <input type="string" class="form-control" id="db-collection" placeholder="Insert a db collection name for the collected logs" style="width:40%;">
      <button id="loadLogs" type="button" class="btn btn-success" style="width:20%;">Load new logs</button>
    </form>
    <span id="loadingMsg" hidden><i class="fas fa-spinner fa-spin"></i> Loading and indexing logs, this could take a while...</span>
    <span id="errorMsg" class="text-danger" hidden></span>
    <span id="okMsg" class="text-success" hidden><i class="fas fa-check"></i> Logs loaded correctly, select a collection to start inspection</span>
  </div>
</div>

<!-- COLLECTION SELECT ROW -->
<div class="row">
  <div class="col-12">
    <h2>Select existing log collection</h2>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <select id="collectionSelect" class="form-control"></select>
  </div>
  <div class="col-6">
    <button id="analyzeLogs" type="button" class="btn btn-success" style="width:20%;" disabled>Run log analysis</button>
    <span id="analyzeMsg" hidden><i class="fas fa-spinner fa-spin"></i></span>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div id="currentAnalysis"></div>
  </div>
</div>

<hr />

<!-- RAFT VIEW -->
<div class="row">
  <!-- NODE LIST-->
  <div class="col-2">
    <h3>Node list</h3>
    <ul id="nodeList" class="list-group">
    </ul>
  </div>
  <div class="col-7">
    <!-- COMMANDS -->
    <div class="row">
      <div class="col-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button id="prevLog" class="btn btn-outline-secondary logCmd manual" type="button" disabled><i class="fas fa-arrow-left"></i></button>
            <button id="nextLog" class="btn btn-outline-secondary logCmd manual" type="button" disabled><i class="fas fa-arrow-right"></i></button>
          </div>
          <input id="currentIdx" type="number" class="form-control logCmd manual" style="width:30px;" disabled>
          <div class="input-group-append">
            <span id="nOfDocs" class="input-group-text"></span>
          </div>
          <div class="input-group-append">
            <button id="play" class="btn btn-outline-secondary logCmd" type="button" disabled><i class="fas fa-play"></i></button>
            <button id="stop" class="btn btn-outline-secondary logCmd" type="button" disabled><i class="fas fa-stop"></i></button>
          </div>
          <div class="input-group-append">
            <span class="input-group-text" style="width: 50px;"><i id="logLoadingMsg" class="fas fa-spinner fa-spin" hidden></i></span>
          </div>
        </div>
      </div>
    </div>
    <!-- NETWORK VIEW -->
    <div class="row">
      <div class="col-12">
        <div id="networkView"></div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <!-- LOG LIST -->
    <h3>Log list</h3>
    <ul id="logList" class="list-group">
    </ul>
  </div>
</div>